[mysqld]
datadir=/opt/runningdir/mysql/data
socket=/var/lib/mysql/mysql.sock
user=mysql
symbolic-links=0

[mysqld_safe]
log-error=/opt/runningdir/mysql/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
